# Игнорировать виртуальную среду
.venv/
venv/
env/

# Игнорировать файлы IDE
.idea/
.vscode/

# Игнорировать системные файлы
.DS_Store
Thumbs.db

# Игнорировать логи и временные файлы
*.log
*.tmp

# Игнорировать байт-код и кеши Python
__pycache__/
*.pyc

# Игнорировать конфигурационные файлы с секретами
.env

# Автообновление: временные и лог-файлы
last_commit.txt
watcher.log